<h2>Looking for me?</h2>

<div class="mt-4">

  <p>
    Hey Helloooooo! :D
    <br />
    My name is Sayan Sinha.
  </p>

  <p>
    <small>
    <i class="fa fa-paperclip fa-fw"></i> &nbsp;<a class="text-link" target="_blank" href="https://sayansinha5.github.io/My-Portfolio">My Portfolio</a>
    <br />
    <i class="fab fa-github fa-fw"></i> &nbsp;<a class="text-link" target="_blank" href="https://github.com/sayansinha5">My Github</a>
    <br />
    </small>
  </p>

  <div class="bg-faint-blue p-4" style="border-radius: 6px;">
    <h4>Contact Me :</h4>
    <ul class="list-display">
      <li>
        How to sort: descending order or ascending order?
      </li>
      <li>
        Sorting based on what? An object name (alphabetically), by some number defined by its fields/instance variables. 
        Or maybe compare dates, birthdays, etc.
      </li>
      <li>
        What happens with equals keys, for example various people with the same name: 
        John, then sort them by Last Name.
      </li>
      <li>
        Does your sorting algorithm sorts in place or needs extra memory to hold another copy of the array to be sorted. 
        This is even more important in embedded systems.
      </li>
    </ul>
  </div>
</div>
